*.[od]
*~
*.gb
*.gbc
*.swp
*.elf
*.3ds
*.3dsx
*.cia
*.smdh
build/
gameyob.nds
gameyob
gameyob.ini
Makefile
LOG
platform/ds/build.bat

original/

platform/ds/make.log

platform/ds/make.err

platform/ds/arm7/Makefile
platform/ds/arm9/Makefile

platform/ds/Makefile
